<section class="todoapp">
  <header class="header">
    <div class="container">
      <h2>My Day</h2>
      <p>All my tasks in one place</p>
      <input class="new-todo" placeholder="Type new task" autofocus type="text" [formControl]="newTaskCtrl"
        (keydown.enter)="changeHandler()" />
      </div>
    </header>

    <div class="container todoapp-wrapper">
      <section class="main">
        <ul class="todo-list">
          @for (task of tasksByFilter(); track task; let i = $index) {
            <li (dblclick)="updateTaskEditingMode(i)"
              [class.editing]="task.editing" [class.completed]="task.completed">
              <div class="view">
                <input class="toggle" type="checkbox" [checked]="task.completed" (change)="toggleCompleted(i)" />
                <label>{{ task.title }}</label>
                <button class="destroy" (click)="deleteTask(task.id)"></button>
              </div>
              <input class="edit" (keydown.enter)="updateTaskText(i, $event)" [value]="task.title" />
            </li>
          }
          <!--
          <li *ngFor="let task of tasks(); index as i" [class.completed]="task.completed">
            <div class="view">
              <input class="toggle" type="checkbox" [checked]="task.completed" (change)="toggleCompleted(i)" />
              <label>{{ task.title }}</label>
              <button class="destroy" (click)="deleteTask(i)"></button>
            </div>
            <input class="edit" value="Learn JavaScript" />
          </li>

          <li>
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Buy a unicorn</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Buy a unicorn" />
          </li>
          <li class="editing">
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Make dishes</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Make dishes" />
          </li>
          -->
        </ul>
      </section>
      <!-- This footer should be hidden by default and shown when there are todos -->
      @if (tasks().length > 0) {
        <footer class="footer">
          <!-- This should be `0 items left` by default -->
          <span class="todo-count">
            <strong>
              {{ tasksByFilter().length }}
            </strong>
            @if (tasksByFilter().length === 1) {
              <strong> item
              </strong>
            } @else {
              items
            }
          </span>
          <ul class="filters">
            <li>
              <a routerLink="/" (click)="changeFilter('all')" [class.selected]="filter() === 'all'">All</a>
            </li>
            <li>
              <a routerLink="/pending" (click)="changeFilter('pending')"
              [class.selected]="filter() === 'pending'">Pending</a>
            </li>
            <li>
              <a routerLink="/completed" (click)="changeFilter('completed')"
              [class.selected]="filter() === 'completed'">Completed</a>
            </li>
          </ul>
          <!-- Hidden if no completed items are left ↓ -->
          <button class="clear-completed">Clear completed</button>
        </footer>
      }
    </div>
  </section>